@model SocialFund.Models.Account.LogOnModel

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/Site.cshtml";
}
<div class="loginform">
    "Don't have an account?"
        @Html.ActionLink("Register now", "Register", null, null)

    <fieldset>
        <div style="padding-bottom: 10px;">
        </div>

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <div class="editor-label">
                @Html.LabelFor(model => model.UserName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
 
            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
        
            <p>
                <hr style="width: 205px; margin: 0px"/>
                <br/>
                <input type="submit" value="Log in" class="g-button" />
            </p>
        }


    </fieldset> 
</div>
