@model DataModel.User

@{
    ViewBag.Title = "UserInformation";
    Layout = "~/Views/Shared/Site.cshtml";
}

<div class="userinfo">
    
    <h3> User information </h3>
    @using (Html.BeginForm("UserInformation", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>

            @Html.HiddenFor(model => model.Id)

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Phone)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Phone)
                @Html.ValidationMessageFor(model => model.Phone)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Address)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Address)
                @Html.ValidationMessageFor(model => model.Address)
            </div>

            <div class="editor-field">
                @Html.EditorFor(model => model.IsNotif) <label>Receive notification of a change history</label>
                @Html.ValidationMessageFor(model => model.IsNotif)
            </div>

            <p>
                <input type="submit" value="Update" class="g-button" />
            </p>
        </fieldset>
    }
</div>
