@model Web.Models.LogViewModels.LogIndexViewModel

@{  
    Layout = "~/Views/Shared/Site.cshtml";
    ViewBag.Title = "Index";
}
<div>
    <h3 align ="center">
       @Model.Group.Name
    </h3>
</div>
@if (Model.IsGroupOwner)
{
    <div align ="left">
        <ul id ="menu">
            @Html.ActionLink("Add coins","AddCoins",  new {id = Model.Group.Id})
        </ul>
        <ul id ="menu">
            @Html.ActionLink("Add user to group","AddUserToGroup","Group",new {id = Model.Group.Id},null)
        </ul>
    </div> 
}
<div>
    <table align="center" border ="0">
        <tr>
            <th>Operation</th>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
        </tr>
        @foreach(var log in Model.Logs)
        {
            <tr>
                @if(log.Coins > 0)
                {
                    <th><font color="green">@log.Coins</font></th>
                }
                else
                {
                    <th><font color="red">@log.Coins</font></th>
                }
                <th>@log.Group_User.User.Name</th>
                <th>@log.Date</th>
                <th>@log.Comment</th>
            </tr>
        }
    </table>
</div>
<div>
    <h2 align ="center">Tatal balance @Model.TatalBalnce</h2>
</div>
