@model Web.Models.LogViewModels.LogIndexViewModel

@{  
    Layout = "~/Views/Shared/Site.cshtml";
    ViewBag.Title = "Index";
}
<div>
    <h2>
       @Model.Group.Name
    </h2>
</div>

    <table align="left" border ="0">
        <tr>
            <th>Operation</th>
            <th>User</th>
            <th>Date</th>
            <th>Comment</th>
        </tr>
        @foreach(var log in Model.Logs)
        {
            <tr>
                @if(log.Coins > 0)
                {
                    <td><font color="green">@log.Coins</font></td>
                }
                else
                {
                    <td><font color="red">@log.Coins</font></td>
                }
                <td>@log.Group_User.User.Name</td>
                <td>@log.Date</td>
                <td>@log.Comment</td>
            </tr>
        }
    </table>
    <br clear ="all">
    <h2 align ="left">Tatal balance @Model.TatalBalnce</h2>
    @if (Model.IsGroupOwner)
    {
        <br>
        <input type="button" value="Add coins" onclick="window.location.href=('@Url.Action("AddCoins",new {id = Model.Group.Id})    ')"/>
    }


