@model SocialFund.Models.GroupViewModel.UserForAdditionToGroup
@using System.Web.UI.HtmlControls
@using DataModel
@using PagedList.Mvc

@{
    ViewBag.Title = "AddUserToGroup";
    Layout = "~/Views/Shared/Site.cshtml";
}

<link href="~/Content/PagedList.css" rel="stylesheet" />


<div class="group-content-wraper">
    @using (Html.BeginForm("ShowUserForAddition", "Group", FormMethod.Get, new { groupId = Model.GroupId }))
    {
        <input type="hidden" value="@Model.GroupId" name="groupId"/>
        <table>
                <th>Input name</th>
                <th>
                    <input type="text" name="query" value="@Model.Query"/>
                </th>
            <td>
                <input type="submit" class="g-button" value="Find" />
            </td>
        </table>
    }
    @if (Model.UsersPaged.Count > 0)
    {
        <h2>Users not in group</h2>
        
        <table>
            <thead>
                <tr>
                    <th>User name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UsersPaged)
                {
                    <tr>
                        <td>@Html.ActionLink(item.LastName + " " + item.FirstName + " " + item.MiddleName + "  ", "UserDetails", "Account", new { id = item.Name }, null)</td>
                        <td>@Html.ActionLink("Add to group", "AddUserToGroup", new { groupId = Model.GroupId, userId = item.Id, page = Model.UsersPaged.PageNumber })</td>
                    </tr>
                }
            </tbody>
        </table>
        <div>
            @Html.PagedListPager(Model.UsersPaged, page => Url.Action("ShowUserForAddition", new { page, groupId = Model.GroupId, query = Model.Query }), new PagedListRenderOptions { LinkToFirstPageFormat = "<<", LinkToLastPageFormat = ">>" })
        </div>

    }
</div>
